---
import Scaffold from "../layouts/scaffold/scaffold.astro";
---

<Scaffold title="Alerts">
  <h1>Alerts</h1>
  <p>TailBreeze</p>
  <section class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <h6>Default Alert</h6>
      <div role="alert" class="alert">
        <p>Alert Content</p>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h6>Color Alert</h6>
      <div class="flex flex-col gap-4">
        <div role="alert" class="alert alert-primary">
          <p>Primary Alert Content</p>
        </div>
        <div role="alert" class="alert alert-secondary">
          <p>Secondary Alert Content</p>
        </div>
        <div role="alert" class="alert alert-accent">
          <p>Accent Alert Content</p>
        </div>
        <div role="alert" class="alert alert-info">
          <p>Info Alert Content</p>
        </div>
        <div role="alert" class="alert alert-success">
          <p>Success Alert Content</p>
        </div>
        <div role="alert" class="alert alert-warning">
          <p>Warning Alert Content</p>
        </div>
        <div role="alert" class="alert alert-error">
          <p>Error Alert Content</p>
        </div>
      </div>
    </div>
  </section>
</Scaffold>
