---
import Preview from "../components/preview.astro";
import Scaffold from "../layouts/scaffold/scaffold.astro";
---

<Scaffold title="Alerts">
  <h2>Alerts</h2>
  <Preview title="Default Alert">
    <div role="alert" class="alert">
      <p>Alert Content</p>
    </div>
  </Preview>
  <Preview title="Alert With Buttons">
    <div role="alert" class="alert">
      <iconify-icon icon="tabler:info-circle" width="24" height="24" class="text-info-40 dark:text-info-80"></iconify-icon>
      <p>Alert Content</p>
      <div>
        <button class="btn btn-text">Bye</button>
        <button class="btn btn-success">OK</button>
      </div>
    </div>
  </Preview>
  <Preview title="Alert Title and Description">
    <div role="alert" class="alert">
      <iconify-icon icon="tabler:info-circle" width="24" height="24" class="text-info-40 dark:text-info-80"></iconify-icon>
      <div>
        <h6>Alert Title</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
      <button class="btn btn-tonal-primary">OK</button>
    </div>
  </Preview>
  <Preview title="Color Alerts" asCol>
    <div role="alert" class="alert alert-primary">
      <p>Primary Alert Content</p>
    </div>
    <div role="alert" class="alert alert-secondary">
      <p>Secondary Alert Content</p>
    </div>
    <div role="alert" class="alert alert-accent">
      <p>Accent Alert Content</p>
    </div>
    <div role="alert" class="alert alert-info">
      <p>Info Alert Content</p>
    </div>
    <div role="alert" class="alert alert-success">
      <p>Success Alert Content</p>
    </div>
    <div role="alert" class="alert alert-warning">
      <p>Warning Alert Content</p>
    </div>
    <div role="alert" class="alert alert-error">
      <p>Error Alert Content</p>
    </div>
  </Preview>
  <Preview title="Alerts with Icons" asCol>
    <div role="alert" class="alert">
      <iconify-icon icon="tabler:info-circle" width="24" height="24"></iconify-icon>
      <p>Default Alert Content</p>
    </div>
    <div role="alert" class="alert alert-primary">
      <iconify-icon icon="tabler:info-circle" width="24" height="24"></iconify-icon>
      <p>Primary Alert Content</p>
    </div>
    <div role="alert" class="alert alert-secondary">
      <iconify-icon icon="tabler:info-circle" width="24" height="24"></iconify-icon>
      <p>Secondary Alert Content</p>
    </div>
    <div role="alert" class="alert alert-accent">
      <iconify-icon icon="tabler:info-circle" width="24" height="24"></iconify-icon>
      <p>Accent Alert Content</p>
    </div>
    <div role="alert" class="alert alert-info">
      <iconify-icon icon="tabler:info-circle" width="24" height="24"></iconify-icon>
      <p>Info Alert Content</p>
    </div>
    <div role="alert" class="alert alert-success">
      <iconify-icon icon="tabler:info-circle" width="24" height="24"></iconify-icon>
      <p>Success Alert Content</p>
    </div>
    <div role="alert" class="alert alert-warning">
      <iconify-icon icon="tabler:info-circle" width="24" height="24"></iconify-icon>
      <p>Warning Alert Content</p>
    </div>
    <div role="alert" class="alert alert-error">
      <iconify-icon icon="tabler:info-circle" width="24" height="24"></iconify-icon>
      <p>Error Alert Content</p>
    </div>
  </Preview>
</Scaffold>
