---
import Preview from "../components/preview.astro";
import Scaffold from "../layouts/scaffold/scaffold.astro";
---

<Scaffold title="Badges">
  <h2>Badges</h2>
  <Preview title="Default Badge">
    <div class="badge"/>
    <div class="badge">Badge</div>
  </Preview>
  <Preview title="Colored Empty Badges">
    <div class="badge" />
    <div class="badge badge-primary" />
    <div class="badge badge-secondary" />
    <div class="badge badge-accent" />
    <div class="badge badge-info" />
    <div class="badge badge-success" />
    <div class="badge badge-warning" />
    <div class="badge badge-error" />
  </Preview>
  <Preview title="Colored Badges">
    <div class="badge">Neutral</div>
    <div class="badge badge-primary">Primary</div>
    <div class="badge badge-secondary">Seconary</div>
    <div class="badge badge-accent">Accent</div>
    <div class="badge badge-info">Info</div>
    <div class="badge badge-success">Success</div>
    <div class="badge badge-warning">Warning</div>
    <div class="badge badge-error">Error</div>
  </Preview>
  <Preview title="Badges with AdOns">
    <div class="badge">
      <iconify-icon icon="tabler:photo" width="14" height="14"></iconify-icon>
      Neutral
      <iconify-icon icon="tabler:check" width="14" height="14"></iconify-icon>
    </div>
    <div class="badge badge-primary">
      <iconify-icon icon="tabler:photo" width="14" height="14"></iconify-icon>
      Primary
      <iconify-icon icon="tabler:check" width="14" height="14"></iconify-icon>
    </div>
    <div class="badge badge-secondary">
      <iconify-icon icon="tabler:photo" width="14" height="14"></iconify-icon>
      Seconary
      <iconify-icon icon="tabler:check" width="14" height="14"></iconify-icon>
    </div>
    <div class="badge badge-accent">
      <iconify-icon icon="tabler:photo" width="14" height="14"></iconify-icon>
      Accent
      <iconify-icon icon="tabler:check" width="14" height="14"></iconify-icon>
    </div>
    <div class="badge badge-info">
      <iconify-icon icon="tabler:photo" width="14" height="14"></iconify-icon>
      Info
      <iconify-icon icon="tabler:check" width="14" height="14"></iconify-icon>
    </div>
    <div class="badge badge-success">
      <iconify-icon icon="tabler:photo" width="14" height="14"></iconify-icon>
      Success
      <iconify-icon icon="tabler:check" width="14" height="14"></iconify-icon>
    </div>
    <div class="badge badge-warning">
      <iconify-icon icon="tabler:photo" width="14" height="14"></iconify-icon>
      Warning
      <iconify-icon icon="tabler:check" width="14" height="14"></iconify-icon>
    </div>
    <div class="badge badge-error">
      <iconify-icon icon="tabler:photo" width="14" height="14"></iconify-icon>
      Error
      <iconify-icon icon="tabler:check" width="14" height="14"></iconify-icon>
    </div>
  </Preview>
  <Preview title="Tonal Empty Badges">
    <div class="badge badge-tonal" />
    <div class="badge badge-tonal-primary" />
    <div class="badge badge-tonal-secondary" />
    <div class="badge badge-tonal-accent" />
    <div class="badge badge-tonal-info" />
    <div class="badge badge-tonal-success" />
    <div class="badge badge-tonal-warning" />
    <div class="badge badge-tonal-error" />
  </Preview>
  <Preview title="Tonal Badges">
    <div class="badge badge-tonal">Neutral</div>
    <div class="badge badge-tonal-primary">Primary</div>
    <div class="badge badge-tonal-secondary">Seconary</div>
    <div class="badge badge-tonal-accent">Accent</div>
    <div class="badge badge-tonal-info">Info</div>
    <div class="badge badge-tonal-success">Success</div>
    <div class="badge badge-tonal-warning">Warning</div>
    <div class="badge badge-tonal-error">Error</div>
  </Preview>
  <Preview title="Outlined Empty Badges">
    <div class="badge badge-outlined" />
    <div class="badge badge-outlined-primary" />
    <div class="badge badge-outlined-secondary" />
    <div class="badge badge-outlined-accent" />
    <div class="badge badge-outlined-info" />
    <div class="badge badge-outlined-success" />
    <div class="badge badge-outlined-warning" />
    <div class="badge badge-outlined-error" />
  </Preview>
  <Preview title="Outlined Badges">
    <div class="badge badge-outlined">Neutral</div>
    <div class="badge badge-outlined-primary">Primary</div>
    <div class="badge badge-outlined-secondary">Seconary</div>
    <div class="badge badge-outlined-accent">Accent</div>
    <div class="badge badge-outlined-info">Info</div>
    <div class="badge badge-outlined-success">Success</div>
    <div class="badge badge-outlined-warning">Warning</div>
    <div class="badge badge-outlined-error">Error</div>
  </Preview>
</Scaffold>
