---
import Preview from "../components/preview.astro";
import Scaffold from "../layouts/scaffold/scaffold.astro";
---

<Scaffold title="Cards">
  <h2>Cards</h2>
  <Preview title="Default Card">
    <div class="card w-96">
      <img
      src="https://source.unsplash.com/random/480x320"
      alt="card media"
      />
      <section class="card-body">
        <h6>Ethereum forgot many!</h6>
        <p>
          Maker stuck lots of testnet, therefore, Monero stuck few efficient public key! Because ether controls lots of accidental fork, ICO launched lots of automated FUD.
        </p>
        <section class="card-actions">
          <button type="button" class="btn btn-text-secondary">
            Share
            <iconify-icon icon="tabler:share" width="16" height="16"></iconify-icon>
          </button>
          <button type="button" class="btn btn-primary">
            Read More
            <iconify-icon icon="tabler:plus" width="16" height="16"></iconify-icon>
          </button>
        </section>
      </section>
    </div>
  </Preview>
  <Preview title="Tonal Card">
    <div class="card card-tonal w-96">
      <img
      src="https://source.unsplash.com/random/480x320"
      alt="card media"
      />
      <section class="card-body">
        <h6>Ethereum forgot many!</h6>
        <p>
          Maker stuck lots of testnet, therefore, Monero stuck few efficient public key! Because ether controls lots of accidental fork, ICO launched lots of automated FUD.
        </p>
        <section class="card-actions">
          <button type="button" class="btn btn-text-secondary">
            Share
            <iconify-icon icon="tabler:share" width="16" height="16"></iconify-icon>
          </button>
          <button type="button" class="btn btn-primary">
            Read More
            <iconify-icon icon="tabler:plus" width="16" height="16"></iconify-icon>
          </button>
        </section>
      </section>
    </div>
  </Preview>
  <Preview title="Outlined Card">
    <div class="card card-outlined w-96">
      <img
      src="https://source.unsplash.com/random/480x320"
      alt="card media"
      />
      <section class="card-body">
        <h6>Ethereum forgot many!</h6>
        <p>
          Maker stuck lots of testnet, therefore, Monero stuck few efficient public key! Because ether controls lots of accidental fork, ICO launched lots of automated FUD.
        </p>
        <section class="card-actions">
          <button type="button" class="btn btn-text-secondary">
            Share
            <iconify-icon icon="tabler:share" width="16" height="16"></iconify-icon>
          </button>
          <button type="button" class="btn btn-primary">
            Read More
            <iconify-icon icon="tabler:plus" width="16" height="16"></iconify-icon>
          </button>
        </section>
      </section>
    </div>
  </Preview>
  <Preview title="Card With Bottom Media">
    <div class="card w-96">
      <section class="card-body">
        <h6>Ethereum forgot many!</h6>
        <p>
          Maker stuck lots of testnet, therefore, Monero stuck few efficient public key! Because ether controls lots of accidental fork, ICO launched lots of automated FUD.
        </p>
        <section class="card-actions">
          <button type="button" class="btn btn-text-secondary">
            Share
            <iconify-icon icon="tabler:share" width="16" height="16"></iconify-icon>
          </button>
          <button type="button" class="btn btn-primary">
            Read More
            <iconify-icon icon="tabler:plus" width="16" height="16"></iconify-icon>
          </button>
        </section>
      </section>
      <img
      src="https://source.unsplash.com/random/480x320"
      alt="card media"
      />
    </div>
  </Preview>
  <Preview title="Card With Video Media">
    <div class="card w-96">
      <video controls>
        <source src="https://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_640x360.m4v" type="video/x-m4v">
      </video>
      <section class="card-body">
        <h6>Ethereum forgot many!</h6>
      </section>
    </div>
  </Preview>
  <Preview title="Card With No Media">
    <div class="card w-96">
      <section class="card-body">
        <h6>Ethereum forgot many!</h6>
        <p>
          Maker stuck lots of testnet, therefore, Monero stuck few efficient public key! Because ether controls lots of accidental fork, ICO launched lots of automated FUD.
        </p>
        <section class="card-actions">
          <button type="button" class="btn btn-text-secondary">
            Share
            <iconify-icon icon="tabler:share" width="16" height="16"></iconify-icon>
          </button>
          <button type="button" class="btn btn-primary">
            Read More
            <iconify-icon icon="tabler:plus" width="16" height="16"></iconify-icon>
          </button>
        </section>
      </section>
    </div>
  </Preview>
  <Preview title="Card With Media Overlay">
    <div class="card card-media-overlay w-96">
      <video controls autoplay loop muted class="card-media">
        <source src="https://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_640x360.m4v" type="video/x-m4v">
      </video>
      <section class="card-body">
        <h6>Ethereum forgot many!</h6>
        <p>
          Maker stuck lots of testnet, therefore, Monero stuck few efficient public key! Because ether controls lots of accidental fork, ICO launched lots of automated FUD.
        </p>
        <section class="card-actions">
          <button type="button" class="btn btn-text-secondary">
            Share
            <iconify-icon icon="tabler:share" width="16" height="16"></iconify-icon>
          </button>
          <button type="button" class="btn btn-primary">
            Read More
            <iconify-icon icon="tabler:plus" width="16" height="16"></iconify-icon>
          </button>
        </section>
      </section>
    </div>
  </Preview>
  <Preview title="Horizontal Card Layout">
    <div class="card card-horizontal w-[480px]">
      <img
      src="https://source.unsplash.com/random/180x260"
      alt="card media"
      class="w-max"
      />
      <section class="card-body">
        <h6>Ethereum forgot many!</h6>
        <p>
          Maker stuck lots of testnet, therefore, Monero stuck few efficient public key! Because ether controls lots of accidental fork, ICO launched lots of automated FUD.
        </p>
        <section class="card-actions">
          <button type="button" class="btn btn-text-secondary">
            <iconify-icon icon="tabler:share" width="24" height="24"></iconify-icon>
          </button>
          <button type="button" class="btn btn-primary">
            <iconify-icon icon="tabler:plus" width="24" height="24"></iconify-icon>
          </button>
        </section>
      </section>
    </div>
  </Preview>
</Scaffold>
