---
import Scaffold from "../layouts/scaffold/scaffold.astro";
---

<Scaffold>
  <h1>Colors</h1>
  <p>
    TailBreeze include an expertly-crafted default color palette out-of-the-box that is great
    starting point if you don't have your own specific branding in mind.
  </p>
  <section class="flex flex-col gap-4">
    <div class="grid grid-rows-1 grid-cols-[120px_1fr] items-center gap-4">
      <p>Neutral</p>
      <div class="grid grid-rows-1 grid-cols-[repeat(11,_1fr)] w-full gap-1">
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-neutral-0"></div>
          <p>0</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-neutral-10"></div>
          <p>10</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-neutral-20"></div>
          <p>20</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-neutral-30"></div>
          <p>30</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-neutral-40"></div>
          <p>40</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-neutral-50"></div>
          <p>50</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-neutral-60"></div>
          <p>60</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-neutral-70"></div>
          <p>70</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-neutral-80"></div>
          <p>80</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-neutral-90"></div>
          <p>90</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-neutral-100"></div>
          <p>100</p>
        </div>
      </div>
    </div>
    <div class="grid grid-rows-1 grid-cols-[120px_1fr] items-center gap-4">
      <p>Primary</p>
      <div class="grid grid-rows-1 grid-cols-[repeat(11,_1fr)] w-full gap-1">
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-primary-0"></div>
          <p>0</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-primary-10"></div>
          <p>10</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-primary-20"></div>
          <p>20</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-primary-30"></div>
          <p>30</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-primary-40"></div>
          <p>40</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-primary-50"></div>
          <p>50</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-primary-60"></div>
          <p>60</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-primary-70"></div>
          <p>70</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-primary-80"></div>
          <p>80</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-primary-90"></div>
          <p>90</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-primary-100"></div>
          <p>100</p>
        </div>
      </div>
    </div>
    <div class="grid grid-rows-1 grid-cols-[120px_1fr] items-center gap-4">
      <p>Secondary</p>
      <div class="grid grid-rows-1 grid-cols-[repeat(11,_1fr)] w-full gap-1">
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-secondary-0"></div>
          <p>0</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-secondary-10"></div>
          <p>10</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-secondary-20"></div>
          <p>20</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-secondary-30"></div>
          <p>30</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-secondary-40"></div>
          <p>40</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-secondary-50"></div>
          <p>50</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-secondary-60"></div>
          <p>60</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-secondary-70"></div>
          <p>70</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-secondary-80"></div>
          <p>80</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-secondary-90"></div>
          <p>90</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-secondary-100"></div>
          <p>100</p>
        </div>
      </div>
    </div>
    <div class="grid grid-rows-1 grid-cols-[120px_1fr] items-center gap-4">
      <p>Accent</p>
      <div class="grid grid-rows-1 grid-cols-[repeat(11,_1fr)] w-full gap-1">
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-accent-0"></div>
          <p>0</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-accent-10"></div>
          <p>10</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-accent-20"></div>
          <p>20</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-accent-30"></div>
          <p>30</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-accent-40"></div>
          <p>40</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-accent-50"></div>
          <p>50</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-accent-60"></div>
          <p>60</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-accent-70"></div>
          <p>70</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-accent-80"></div>
          <p>80</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-accent-90"></div>
          <p>90</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-accent-100"></div>
          <p>100</p>
        </div>
      </div>
    </div>
    <div class="grid grid-rows-1 grid-cols-[120px_1fr] items-center gap-4">
      <p>Success</p>
      <div class="grid grid-rows-1 grid-cols-[repeat(11,_1fr)] w-full gap-1">
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-success-0"></div>
          <p>0</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-success-10"></div>
          <p>10</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-success-20"></div>
          <p>20</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-success-30"></div>
          <p>30</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-success-40"></div>
          <p>40</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-success-50"></div>
          <p>50</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-success-60"></div>
          <p>60</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-success-70"></div>
          <p>70</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-success-80"></div>
          <p>80</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-success-90"></div>
          <p>90</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-success-100"></div>
          <p>100</p>
        </div>
      </div>
    </div>
    <div class="grid grid-rows-1 grid-cols-[120px_1fr] items-center gap-4">
      <p>Info</p>
      <div class="grid grid-rows-1 grid-cols-[repeat(11,_1fr)] w-full gap-1">
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-info-0"></div>
          <p>0</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-info-10"></div>
          <p>10</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-info-20"></div>
          <p>20</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-info-30"></div>
          <p>30</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-info-40"></div>
          <p>40</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-info-50"></div>
          <p>50</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-info-60"></div>
          <p>60</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-info-70"></div>
          <p>70</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-info-80"></div>
          <p>80</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-info-90"></div>
          <p>90</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-info-100"></div>
          <p>100</p>
        </div>
      </div>
    </div>
    <div class="grid grid-rows-1 grid-cols-[120px_1fr] items-center gap-4">
      <p>Warning</p>
      <div class="grid grid-rows-1 grid-cols-[repeat(11,_1fr)] w-full gap-1">
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-warning-0"></div>
          <p>0</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-warning-10"></div>
          <p>10</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-warning-20"></div>
          <p>20</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-warning-30"></div>
          <p>30</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-warning-40"></div>
          <p>40</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-warning-50"></div>
          <p>50</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-warning-60"></div>
          <p>60</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-warning-70"></div>
          <p>70</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-warning-80"></div>
          <p>80</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-warning-90"></div>
          <p>90</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-warning-100"></div>
          <p>100</p>
        </div>
      </div>
    </div>
    <div class="grid grid-rows-1 grid-cols-[120px_1fr] items-center gap-4">
      <p>Error</p>
      <div class="grid grid-rows-1 grid-cols-[repeat(11,_1fr)] w-full gap-1">
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-error-0"></div>
          <p>0</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-error-10"></div>
          <p>10</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-error-20"></div>
          <p>20</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-error-30"></div>
          <p>30</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-error-40"></div>
          <p>40</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-error-50"></div>
          <p>50</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-error-60"></div>
          <p>60</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-error-70"></div>
          <p>70</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-error-80"></div>
          <p>80</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-error-90"></div>
          <p>90</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <div class="aspect-square rounded-md w-full bg-error-100"></div>
          <p>100</p>
        </div>
      </div>
    </div>
  </section>
</Scaffold>
