---
import Preview from "../components/preview.astro";
import Scaffold from "../layouts/scaffold/scaffold.astro";
---

<Scaffold title="Shadows">
  <h2>Shadows</h2>
  <Preview title="Default Elevations" extraSpace>
    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="shadow-none border w-40 aspect-square rounded-md"></div>
      <p>Elevation 0</p>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="shadow-elevate-1 w-40 aspect-square rounded-md"></div>
      <p>Elevation 1</p>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="shadow-elevate-2 w-40 aspect-square rounded-md"></div>
      <p>Elevation 2</p>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="shadow-elevate-3 w-40 aspect-square rounded-md"></div>
      <p>Elevation 3</p>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="shadow-elevate-4 w-40 aspect-square rounded-md"></div>
      <p>Elevation 4</p>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="shadow-elevate-5 w-40 aspect-square rounded-md"></div>
      <p>Elevation 5</p>
    </div>
  </Preview>
</Scaffold>
