---
import Scaffold from "../layouts/scaffold/scaffold.astro";
---

<Scaffold title="Typography">
  <h1>Typography</h1>
  <p>TailBreeze</p>
  <section class="flex flex-col gap-4">
    <h1>H1. Heading 1</h1>
    <h2>H2. Heading 2</h2>
    <h3>H3. Heading 3</h3>
    <h4>H4. Heading 4</h4>
    <h5>H5. Heading 5</h5>
    <h6>H6. Heading 6</h6>
    <p class="text-subtitle-1">P. Subtitle 1</p>
    <p class="text-subtitle-2">P. Subtitle 2</p>
    <p>P. Body 1</p>
    <p class="text-body-2">P. Body 2</p>
    <p class="text-button">P. Button</p>
    <p class="text-caption">P. Caption</p>
  </section>
</Scaffold>
